@mixin transition($params...) {
  transition-property: $params;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin mobile {
  @media screen and (max-width: 767.8px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin grid {
  display: flex;
  flex-wrap: wrap;
}
